
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 200ms ease-out;
    scroll-behavior: smooth;
    }
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 62.5%s;
}

.heading{
    font-size: 2rem;
    margin-bottom: 2rem;
}
/* CSS HEADER */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f1b1b1;
}
header{
    background: #f67280;
    padding: 1.5rem 3.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0.5rem 1.5rem#ff2f44;
    align-items: center;
    justify-content: space-between;
    display: flex;
    z-index: 1;
}
/* HEADER LOGO */
header .logo{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 1.4rem;
    color: black;
    text-decoration: none; 
    letter-spacing: 0.1rem;
}
header .logo img{
    width: 2rem;
    height: 2rem;
    margin-bottom: -.65rem;
    margin-right: .5rem;
}
/* HEADER PENCARIAN */
.search-bar {
    display: flex;
    align-items: center;
    background-color: #f1b1b1;
    border-radius: 3.5rem;
    padding: 1rem 1.5rem;
    width: 45%;
}
.search-bar i {
    color: #fff;
    margin-right: 1rem;
}
.search-bar input {
    background: none;
    border: none;
    color: #fff;
    flex-grow: 1;
    font-size: 1rem;
    outline: none;
}
.search-bar input::placeholder {
    color: #fff;
}
.search-bar .home-icon i {
    color: #fff;
}
.search-bar .cart-icon {
    color: #fff;
    margin-left: 10px;
}
/* HEADER MENU */
header .menu a{
    position: relative;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
    margin-right: 15px;
    border-bottom: .4rem solid #f67280;
}
header .menu a:hover{
    border-bottom: .4rem solid white;
    color: rgb(255, 255, 255);
    border-radius: 7px 20px 7px 20px;
    filter: drop-shadow(0 0 15px #f1b1b1) ;
    transition: all 0.5s;
}
/* HERO SECTION */
section{
     padding-top: 7%;
     padding-bottom: 5%;
     padding-left: 5%;
     padding-right: 5%;
}
.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: #FFE3E3;
    margin: 8rem 5rem 0 5rem;
    border-radius: 40px;
    min-height: 35vh;
    filter: drop-shadow(0 0 20px rgb(255, 0, 0)); 
}
.home .content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.home .content .content-left{
    width: 40%;
}
.home .content .content-left img{
    width: 60%;
    height: 60%;
    align-items: right;
    filter: drop-shadow(0 0 20px rgb(255, 0, 0)); 
}
.home .content .content-right{
    width: 55%;
    margin-top: 2.5rem;
}
.home .content .content-right h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
}
.home .content .content-right p{
    text-align: justify;
    font-size: 1.8rem;
}
.home .content .content-right .btn a button{
    margin-top: 2rem;
   align-items: center ;
    font-family: 'Poppins', sans-serif;
    padding: 1rem 2rem;
    background-color: #f67280;
    border:.5rem solid #f67280;
    border-radius: 3rem;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #ffffff;
    text-decoration: none;
}
.home .content .content-right .btn a button:hover{
    transition: 0.5s;
    background-color: #FFE3E3;
    border:.5rem solid #f67280;
    color: black;
}

/* TOP MUSIC SECTION */
.list-lagu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.album-cover {
    flex: 30rem 1 1;
    display: flex;
    align-items: center;
    width: 40rem;
    margin: 1rem;
    padding: .7rem;
    background-color: #f67280;
    border-radius: .8rem;
    box-shadow: 0 .2rem .3rem rgba(0, 0, 0, 0.1);
}

.album-cover img {
    width: 6rem;
    height: 6rem;
    border-radius: .7rem;
    margin-right: .8rem;
}
.info-lagu {
    display: flex;
    flex-direction: column;
}
.judul-lagu {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}
.judul-lagu a{
    text-decoration: none;
    color: black;
}
.judul-lagu a:hover{
    text-decoration: underline;
}
.artis-lagu {
    font-size: 1.1rem;
    color: #d8d8d8;
}

/* MUSIC PLAYER */
.musik{
    position: relative;
    margin: 3rem 20rem;
    padding: 6rem 3rem;
    background: linear-gradient(#ecc4c4 40%,#FBA1B7, #f67280);
    align-items: center;
    border-radius: 2rem;
    box-shadow: .5rem .9rem .5rem .5rem #ff2f447c;
}
.music-btn {
    background-color: #f67280;
    border-radius: 50%;
    color: white;
    padding: 1.75rem;
    font-size: 2.5rem;
    border: none;
    cursor: pointer;
    width: 3.5rem;
    height: 3.5rem;
  }
.controls {
    display: flex;
    gap: 4rem;
    justify-content: center;
  }
  
  .music-btn:hover {
    color: #ff2f44;
  }
  
  .playing {
    padding-bottom: 2rem;
    text-align: center;
  }
   .musik .bar-music .bar-proses{
    width: 30%;
    background: black;
    z-index: 1;
    border-radius: 1rem;
    margin-top: 2rem;
    height: .8rem;
  }
  .musik .bar-music{
    border-radius: 1rem;
    margin-top: 2rem;
    width: 100%;
    height: .8rem;
    background-color: white;
  }
 


/* SECTION TOP ARTIST */
.top-artist{
    padding-bottom: 2rem;
}
.top-artist .album-artis{
    display: flex;   
    width: max-content;
    gap: 1.3rem;
}
.top-artist .album-artis img{
    width: 15rem;
    border-radius: 1.5rem;
    box-shadow: .3rem .5rem .3rem .3rem rgba(0, 0, 0, 0.2);
}
.top-artist .album-artis .nama-artis{
    text-align: center;
    font-weight: bolder;
    padding-bottom: 2rem;
    padding-top: 1rem;
}
.top-artist .album-scroll{
    width: 100% ;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}
.top-artist .album-scrol > .artis{
    min-width: 100%;
    scroll-snap-align: start;
}

/* ALDI TAHER */
.aldi-taher{  
    display: flex;
    align-items: center;
    padding: 5rem 3rem 5rem 2rem;
    background: #FFE3E3;
    border-radius: 2rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.aldi-taher p{
    font-size: 1.5rem;
    text-align: justify;
    margin-right: 5rem;
}
.aldi-taher img{
    height: 15rem;
    object-fit: cover;
    margin-left: -6rem;
    margin-right: 3rem;
    border-radius: 1rem;
    box-shadow: .3rem .5rem .3rem .3rem rgba(0, 0, 0, 0.2);
}
/* BASKARA */
.baskara{  
    display: flex;
    align-items: center;
    padding: 5rem 3rem 5rem 2rem;
    background: #FFE3E3;
    border-radius: 2rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.baskara p{

    line-height: 1.5    ;
    font-size: 1.5rem;
    text-align: justify;
    margin-right: 5rem;
}
.baskara img{
    height: 15rem;
    object-fit: cover;
    margin-left: -6rem;
    margin-right: 3rem;
    border-radius: 1rem;
    box-shadow: .3rem .5rem .3rem .3rem rgba(0, 0, 0, 0.2);
}
/* FOOTER SECTION */
  .footer{
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 3rem;
    margin: 2rem;
    padding-top: 3rem;
}
.footer .box-container{
    display: flex;
    flex: 30rem 1 1;
    flex-wrap: wrap;
    gap: 5rem;
    width: 100%;
    margin-bottom: 2rem;
}
.footer .box{
    text-align: justify;
}
.footer .box-container .box h3{
    font-size: 2rem;
    color: black;
    padding: .8rem 0;
    border-bottom: .2rem solid black;
}
.footer .box-container .box a{
    display: flex;
    align-items: center;
    font-size: 1.1rem ;
    color: rgb(0, 0, 0);
    padding: .3rem 0;
    text-transform: none;
    text-decoration: none;
    line-height: 2;
}
.footer .box-container .box a:hover{
    padding-left: .4rem;
    transition: 0.4s;
}











header #toggler{
    display: none;
}
header .fa-bars{
    font-size: 2rem;
    color: #323643;
    cursor: pointer;
    display: none;
}



@media (max-width: 991px){

    html{
        font-size: 55%;
    }
    header{
        padding: 1.8rem;
    }
    section{
        padding: 2rem;
    }
}

@media (max-width: 768px){

    header .fa-bars{
        display: block;
    }
    header .menu{
        position: absolute;
        top: 99%; left: 0; right: 0;
        background: #f67280;
        border-bottom: .2rem solid #323643;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header #toggler:checked ~ .menu{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100% );
    }
    header .menu a{
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
    }

    .search-bar{
        position: absolute;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

    }

    .baskara{
        flex-wrap: wrap;
        position: relative;
    }
    .baskara img{
        align-content: center;
        margin: -8rem 0 0 20rem;
        border-radius: 50%;
    }
    .baskara p{
        margin: 1.3rem;
    }
    .baskara h1{
        text-align: center;
        padding-top: 2rem;
        margin-left: 20rem;
    }
    .aldi-taher{
        margin-top: 5rem;
        flex-wrap: wrap;
        position: relative;
    }
    .aldi-taher img{
        position: relative;
        align-content: center;
        margin: -8rem 0 0 20rem;
        border-radius: 50%;
    }
    .aldi-taher p{
        margin: 1.3rem;
    }
    .aldi-taher h1{
        text-align: center;
        padding-top: 2rem;
        margin-left: 24rem;
    }
}